// @import "@/styles/themer.scss";

@mixin standard-button-styles($base: "button") {
    display: inline-block;

    padding: 1rem 1.5rem;
    font-weight: 600;

    color: color-link($base, "text_color", "primary");
    background-color: color-link($base, "accent_color", "primary");

    transition: background-color 0.5s;

    border: 0;
    border-radius: 0.7rem;

    cursor: pointer;
    text-align: center;

    &:hover {
        background-color: color-link($base, "selected_color", "primary");
    }

    // &.disabled, &:disabled {
    //     cursor: initial;
    //     color: color-link($base, "text_color", "secondary");

    //     &:hover {
    //         background-color: color-link($base, "accent_color", "primary");
    //     }
    // }
}