@mixin standard-button-styles($base: "button") {
    display: inline-block;

    font-weight: 600;

    color: color-link($base, "text_color", "primary");
    background-color: color-link($base, "accent_color", "primary");

    transition: background-color 0.5s;

    border: 0;
    border-radius: 0.7rem;

    text-align: center;

    & > a {
        cursor: pointer;
        display: inline-block;
        margin: 1rem 1.5rem;
        
        text-decoration: none;
        color: color-link($base, "text_color", "primary");
    }

    &:hover {
        background-color: color-link($base, "selected_color", "primary");
    }

    &.disabled, &:disabled {
        & > a {
            cursor: initial;
        }

        color: color-link($base, "text_color", "secondary");
        background-color: color-link($base, "disabled_color", "primary");

        &:hover {
            background-color: color-link($base, "disabled_color", "primary");
        }
    }
}